body {
        
        background: url('../img/background.jpg');
        color: #FFFFCC;
        background-position-y: -100px;
        
      }

     
      .container {
        margin: 0 auto;
        max-width: 999px;
        
      }
     

    
    .navbar-a ul

    {
        list-style-type:none;
        margin:0;
        padding:0;
        overflow:hidden;
        background-color: transparent;
     }
   
   .navbar-a li
    {
        float:left;
        background: rgba(204, 204, 154, 0.4);
        border-left:1px solid white;

    }
    
  .navbar-a  a:link,a:visited 
    {
        display:block;
        width:120px;
        font-weight:bold;
        color:#FFFFFF;
        
        text-align:center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-decoration:none;
        text-shadow:3px 0px 6px #555555;
        text-transform:uppercase;
       
        
}
  .navbar-a  a:hover,a:active
    {
    background-color:black;
    }
    
    li:first-child
    {
       border-left: none;
    }
  
      
      
      .main-p
      {
          
          padding-bottom: 480px;
        text-shadow:3px 0px 6px #555555;
      }
      
      .main-p p
      {
          position: absolute;
          margin-top: 350px;
          font-size: 55px;
          font-weight: bold;
          color: #FFFFCC;
          line-height:100%;
          
      }
      
      .footer
      {
         text-align: right;
         margin-top: 68px;
         margin-right: 20px;
      }